@font-face {
  font-family: 'wpcrowd';
  src: url('font/wpcrowd.eot?2285735');
  src: url('font/wpcrowd.eot?2285735#iefix') format('embedded-opentype'),
       url('font/wpcrowd.woff2?2285735') format('woff2'),
       url('font/wpcrowd.woff?2285735') format('woff'),
       url('font/wpcrowd.ttf?2285735') format('truetype'),
       url('font/wpcrowd.svg?2285735#wpcrowd') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wpcrowd';
    src: url('../font/wpcrowd.svg?2285735#wpcrowd') format('svg');
  }
}
*/
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wpcrowd";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.show-icon {
    font-family: 'wpcrowd';
}

 
.icon-heart:before { content: '\48'; } /* 'H' */
.icon-instagram:before { content: '\49'; } /* 'I' */
.icon-comment:before { content: '\63'; } /* 'c' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-googleplus:before { content: '\67'; } /* 'g' */
.icon-home:before { content: '\68'; } /* 'h' */
.icon-linkedin:before { content: '\69'; } /* 'i' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-reddit:before { content: '\72'; } /* 'r' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-whatsapp:before { content: '\77'; } /* 'w' */

[class^="icon-"] span.network {display:none;}

.shareing-links  {list-style-type: none}
.shareing-links a, .shareing-links a:before {color:white}
.shareing-links a:hover, .shareing-links a:hover:before {color:#999} 

.quote-share .icon-facebook, 
.net-facebook, 
.shareing-links .icon-facebook:before {  background-color: #0d6fac} 
.net-googleplus, .shareing-links .icon-googleplus:before {  background-color:  #dd4b39}
.net-linkedin, .shareing-links .icon-linkedin:before { background-color: #007bb6 }
.net-soundcloud,.shareing-links .icon-soundcloud:before { background-color:#ff3a00 }
.net-instagram, .shareing-links .icon-instagram:before { background-color: #125688 }
.quote-share .icon-twitter,
.net-twitter, 
.shareing-links .icon-twitter:before { background-color: #0fabc3 }
.net-vimeo,.shareing-links .icon-vimeo:before {background-color: #1ab7ea}
.quote-share .icon-whatsapp,
.net-whatsapp, 
.shareing-links .icon-whatsapp:before {background-color: #349603 }
.net-youtube-play, .shareing-links .icon-youtube-play:before,
.net-youtube, .shareing-links .icon-youtube:before { background-color:#bb0000}
.net-pinterest, .shareing-links .icon-pinterest:before {  background-color: #cb2027}
.net-viber, .shareing-links .icon-viber:before { background-color: #8f5db7 }
.net-comment, .shareing-links .icon-comment:before { background-color: #000059 }

.quote-share a span {display:none}
 .quote-share a {
     color:#fff; 
     border-radius: 50%; 
     display: inline-block; 
     line-height: 1.5em; 
     height: 1.5em; 
     width:1.5em; 
     text-align: center;
     text-decoration: none;
 }
  
.quote-share a:hover {
      color:#666
}
 
.quote-share  li {display:inline; float: right; margin-left:10px;  list-style-type: none}

.quote {
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
    border: solid 1px #ccc;
    border-radius: 9px
}
.quote blockquote {
    border-width: 0;
    font-style: italic;
    font-size:3rem;
}

.engage-count-only .show-icon, .engagement .show-icon{ color: #E6BE8A }
.engagement small {font-size:8px; text-transform: uppercase}
.engagement span.count {padding-left: 3px}

.shareing-links li {width:58px; text-align: center; height:58px; margin: 0; float:left}
.shareing-links li.engagement {color:#000}
.shareing-links a {display:block; height:100%; text-decoration: none !important; padding-top: 5px}
.shareing-links a:before {text-decoration: none !important; }
.shareing-links a small {display: block; margin-top: -3px}

.engage-count-only {display:inline; float:right}

.clean {clear:both}

@media screen and (max-width:1278px){
    .clean-small {clear:left;}
    .shareing-links li {
        margin-right:5px
    }
}
@media screen and (min-width:1279px){
   .shareing-links li  {
       float:none
   }
}